@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=PT+Sans+Narrow:wght@400;700&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: azure;
    font-family: 'PT Sans Narrow', 'Nanum Gothic', sans-serif;
    color: rgb(13, 39, 59);
}

#foto{
    margin: 25px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px black;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(0, 75, 133);
}

#barra_lateral{
    padding-right: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100vw;
    float: left;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#barra_lateral ul{
    position: fixed;
}

.link_nav, .link_nav_topo{
    width: 90%;
    margin: 5px;
    padding: 15px 10px;
    background-color: azure;1
}

.link_nav_topo{
    position: fixed;;
    bottom: 0px;
    width: 100px;
}
/* #nome{
    background-color: blueviolet;
}

#contato{
    background-color: yellowgreen;
}

#experiencia{
    background-color: turquoise;
}

#formacao{
    background-color: teal;
}

#competencias{
    background-color: springgreen;
}

#habilidades{
    background-color:slateblue;
} */